---
// filepath: /c:/Users/estudiante/Desktop/Mauricio/delSauce/src/pages/productos/[Productos].astro
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ButtonWhatsapp from '../components/ButtonWhatsapp.astro';
import data from '../../data.json';
import PlanificacionParaEventos from '../components/PlanificacionParaEventos.astro';
import SandwicheriaYCatering from '../components/SandwicheriaYCatering.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout></Layout>
<Header dataHeader={data.header} />

<section class="bg-[#d0b8a8] py-10">
  <h2 class="text-center text-xl font-bold text-[#5c3d2e]">{data.productos.tituloSuperior}</h2>
  <PlanificacionParaEventos dataProducts={data.productos.planificacionParaEventos} />
  <SandwicheriaYCatering dataProducts={data.productos.sandwicheriaYCatering} />
</section>

<Footer footer={data.footer} />
<ButtonWhatsapp whatsapp={data.whatsapp.whatsapp} whatsappImage={data.whatsapp.whatsappImagen} />