---
const { navbarItems, networks, footer } = Astro.props;
---

<footer class="bg-[#502D1D] text-white py-8 px-6 mt-32 border-t-4 border-[#D4A373]">
  <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 text-center sm:text-left">
    
    {/* Secci贸n de contacto */}
    {footer?.mostrar && (
      <div class="flex flex-col items-center sm:items-start">
        {footer.logo && (
          <img src={footer.logo} alt="Logo" class="h-12 mb-4" />
        )}
        <h3 class="text-lg font-medium mb-2">{footer.titulo}</h3>
        {footer.contacto?.telefono && (
          <p class="text-sm flex items-center gap-2"> {footer.contacto.telefono}</p>
        )}
        {footer.contacto?.email && (
          <p class="text-sm flex items-center gap-2"> {footer.contacto.email}</p>
        )}
        {footer.contacto?.direccion && (
          <p class="text-sm flex items-center gap-2"> {footer.contacto.direccion}</p>
        )}
      </div>
    )}

    {/* Secci贸n de navegaci贸n */}
    {navbarItems.length > 0 && (
      <div class="flex flex-col items-center sm:items-start">
        <h4 class="text-md font-medium mb-4">Navegaci贸n</h4>
        <ul>
          {navbarItems.map((item) => (
            <li key={item.link} class="mb-2">
              <a href={'#' + item.link.toLowerCase()} class="hover:underline">{item.titulo}</a>
            </li>
          ))}
        </ul>
      </div>
    )}

    {/* Secci贸n de contacto (antes redes sociales) */}
    <div class="flex flex-col items-center sm:items-start">
      <h4 class="text-md font-medium mb-4">Contacto</h4>
      {footer?.contacto && (
        <p class="text-sm">Para m谩s informaci贸n, 隆cont谩ctanos!</p>
      )}
    </div>

    {/* Secci贸n de redes sociales (mostrar solo si existe informaci贸n de redes) */}
    {networks.length > 0 && (
      <div class="flex flex-col items-center sm:items-start">
        <h4 class="text-md font-medium mb-4">Visita nuestra p谩gina</h4>
        <div class="flex justify-center sm:justify-start space-x-4">
          {networks.map((redSocial) => (
            <a key={redSocial.nombreRedSocial} href={redSocial.link} class="hover:text-gray-400 flex items-center gap-2">
              <img src={redSocial.imagen} alt={redSocial.nombreRedSocial} width={24} height={24} />
              {redSocial.nombreRedSocial}
            </a>
          ))}
        </div>
      </div>
    )}
  </div>
</footer>
    