---
const { dataHeader } = Astro.props
---

<header class="bg-[#5F342C] shadow-md w-full fixed top-0 z-50 flex items-center justify-center">
  <nav class="flex justify-between items-center w-full px-10 h-16 relative">
    <!-- Logo -->
    <img src={dataHeader.logo} width={60} alt="Logo">

    <!-- Desktop Navigation -->
    <ul class="hidden md:flex gap-16">
      {dataHeader.navbar.map((item: { titulo: string, link: string }, i: number) => (
        <li key={i}>
          <a href={item.link} class="text-xl text-white hover:text-[#D2B48C]">
            {item.titulo}
          </a>
        </li>
      ))}
    </ul>

    <!-- Mobile Menu Button -->
    <button 
      id="menu-toggle" 
      class="md:hidden p-2 focus:outline-none z-50 relative" 
      aria-label="Toggle menu"
    >
      <img 
        id="menu-icon" 
        src="/Product/DelSauce/imagesDelSauce/hambuguer.png" 
        alt="Menú" 
        class="w-8 h-8"
      />
    </button>

    <!-- Mobile Navigation -->
    <ul 
      id="mobile-menu" 
      class="hidden fixed inset-0 bg-[#5F342C] flex-col justify-center items-center gap-12 transition-all duration-300 z-40"
    >
      {dataHeader.navbar.map((item: { titulo: string, link: string }, i: number) => (
        <li key={i}>
          <a 
            href={item.link} 
            class="text-xl text-white hover:text-[#D2B48C] block text-center"
          >
            {item.titulo}
          </a>
        </li>
      ))}
    </ul>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");
    const menuIcon = document.getElementById("menu-icon");
    const menuLinks = mobileMenu.querySelectorAll("a");

    const toggleMenu = () => {
      if (mobileMenu.classList.contains("hidden")) {
        mobileMenu.classList.remove("hidden");
        mobileMenu.classList.add("flex");
      } else {
        mobileMenu.classList.add("hidden");
      }
    };

    // Listener para abrir/cerrar el menú
    menuToggle.addEventListener("click", toggleMenu);

    // Listener para cerrar el menú al hacer clic en un enlace
    menuLinks.forEach((link) => {
      link.addEventListener("click", toggleMenu);
    });
  });
</script>
